/* import font */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Arimo", sans-serif;
}

/* global style */
.main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

/* todolist */
#todocontainer {
    display: flex;
    flex-direction: column;
    background: #00000045;
    padding: 5em;
    margin-top: 5%;
    margin-right: 15%;
    align-items: center;
}

.todoitem {
    display: flex;
    width: 100%;
    padding: 1%; margin-top: 1%;
    background-color: dimgray;
    color: white;
    justify-content: space-between;
    align-items: center;
}

/* counter */
.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact manager */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 5em;
}

.contact-form input {
    width: 10%;
    text-align: center;
}

#contact-show {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.contact-item {
    border: solid 0.2em;
    width: fit-content;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item h3 {
    color: darkgrey;
}