/* import font */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Arimo", sans-serif;
}

/* global style */
.main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

/* todolist */
#todocontainer {
    display: flex;
    flex-direction: column;
    background: #00000045;
    padding: 5em;
    margin-top: 5%;
    margin-right: 15%;
    align-items: center;
}

.todoitem {
    display: flex;
    width: 100%;
    padding: 1%; margin-top: 1%;
    background-color: dimgray;
    color: white;
    justify-content: space-between;
    align-items: center;
}

/* counter */
.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact manager */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 5em;
}

.contact-form input {
    width: 10%;
    text-align: center;
}

#contact-show {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.contact-item {
    border: solid 0.2em;
    width: fit-content;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item h3 {
    color: darkgrey;
}

/* product */
#product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.product-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: rgba(154, 154, 154, 0.785);
    width: 10em;
    padding: 1em;
    align-items: start;
}

/* simple calculator */
#sc-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#sc-operation-container {
    background-color: darkgrey;
    padding: 1em;
    width: 25%;
    align-self: center;
}

#sc-asw-cont {
    align-self: center;
}

#sc-op-cont {
    color: white;
}

#sc-answers {
    padding-left: 1em;
}

#sc-operators {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#sc-numbers {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 2em;
    width: 20%;
    gap: 1em;
    align-self: center;
    align-content: center;
}

.sc-op {
    width: fit-content;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.sc-nbs {
    width: fit-content;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align-self: center;
}

.sc-calc {
    align-self: center;
    padding-top: 2em;
}

/* library finder */
.finder-container {
    display: flex;
    background-color: grey;
    padding: 1em;
    border-radius: 0.3em;
    gap: 2em;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(1, full);
    gap: 0.75em;
    margin: 5%;
}

.book-item {
    display: flex;
    background-color: gray;
    border-radius: 0.5em;
    color: white;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    width: 50%;
}